*.a
*.bz2
*.deb
*.def
*.dll
*.exe
*.exp
*.gz
*.idb
*.la
*.lib
*.lo
*.log
*.manifest
*.o
*.obj
*.out
*.swp
*.trs
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
built.*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
debian/changelog
depcomp
gen
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/pkg.m4
missing
myencfs.spec
src/libmyencfs/libmyencfs.pc
src/libmyencfs/myencfs-all.exports
src/myencfs-fuse/myencfs-fuse
src/myencfs-tool/myencfs-tool
stamp-h1
test-driver
test/libmyencfs/test-error
test/libmyencfs/test-realtime
test/libmyencfs/test-sanity
versioninfo.rc
